h2 {
    margin-bottom: 0;
}

form {
    max-width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

fieldset {
    margin-bottom: 20px;
    border: none;
}

legend {
    font-size: 24pt;
    text-decoration: underline;
}

.group {
    display: flex;
    flex-direction: column;
}

.group > div {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row > div {
    padding-right: 10px;
    padding-left: 10px;
}

.columns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

label {
    display: inline-block;
}

.category {
    display: flex;
    flex-direction: column;
}

#description {
    min-height: 150px;;
}

.mostrar-pass {
    display: flex;
    flex-direction: row;
}

input, select, textarea {
    margin-bottom: 10px;

    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:required:valid, select:required:valid, textarea:required:valid {
    border-color: green;
}

input:required:invalid, select:required:invalid, textarea:required:invalid {
    border-color: red;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}